<section>
  <div >
    <div class="bg_box">
      <div class="d-flex">
        <div class="row">
        <div style="width:50%;">
        <h1>{{GameName1}}</h1>
        <p class="cptn">
          {{GameData1}}
        </p>
      </div>
      <div style="width:50%;">
        <h1>{{GameName2}}</h1>
        <p class="cptn">
          {{GameData2}}
        </p>
      </div>
      <div style="width: 100%;">
        <div>
          <button (click)="onSubmit()">
            Start <i class="fa fa-long-arrow-right"></i>
          </button>
        </div>
      </div>
      </div>
    </div>
      </div> 
    </div>
</section>
