<section>
  <div >
    <div class="bg_box">
      <div class="d-flex">
        <div class="row">
        <div style="width:50%;">
        <h1>Game 1</h1>
        <div class="m-3">
          <select class="custom-select" (change)="changeGame($event,1)">
            <option value="">Choose Game 1</option>
            <option *ngFor="let game of games" [ngValue]="game.value">{{game.value}}</option>
          </select>

        </div> 
      </div>
      <div style="width:50%;">
        <h1>Game 2</h1>
        <div class="m-3">
          <select class="custom-select" (change)="changeGame($event,2)">
            <option value="">Choose Game 2</option>
            <option *ngFor="let game of games" [ngValue]="game.value">{{game.value}}</option>
          </select>

        </div> 
      </div>
      <div style="width: 100%;">
        <div>
          <button (click)="onSubmit()">
            Next <i class="fa fa-long-arrow-right"></i>
          </button>
        </div>
      </div>
      </div>
    </div>
      </div> 
    </div>
</section>
