.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 40px;
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 20px;
  }
}
h1 {
  font-size: 28px;
  line-height: 32px;
  color: #000;
  margin: 0;
}
p {
  font-size: 16px;
  line-height: 22px;
  color: #484848;
  margin: 10px 0 0;
}

img {
  width: 80%;
  display: block;
  margin: auto;
}

button {
  background: #3b8524;
  box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
  border-radius: 8px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  i {
    margin-left: 15px;
  }
}

.cptn {
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}
.timer {
  font-size: 16px;
  color: #484848;
  display: flex;
  flex-direction: column;
  align-items: center;
  div {
    width: 95px;
    height: 95px;
    background: #ffa300;
    box-shadow: 0px 4px 10px rgba(255, 163, 0, 0.3);
    border-radius: 50%;
    font-weight: 600;
    font-size: 58px;
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}

.points {
  text-align: left;
  h3 {
    font-size: 22px;
    color: #484848;
    margin: 0 0 30px 0;
  }
  ul {
    margin: 0;
    padding-left: 20px;
    li {
      font-size: 16px;
      color: #484848;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.center-align {
  text-align: center;
}
