.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 20px;
  .cptn {
    font-size: 18px;
    line-height: 28px;
    color: #484848;
    margin: 0;
  }
  .timer {
    font-size: 16px;
    color: #484848;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      width: 95px;
      height: 95px;
      background: #ffa300;
      box-shadow: 0px 4px 10px rgba(255, 163, 0, 0.3);
      border-radius: 50%;
      font-weight: 600;
      font-size: 58px;
      color: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
  }

  // button {
  //   background: #3b8524;
  //   box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
  //   border-radius: 8px;
  //   height: 45px;
  //   font-size: 16px;
  //   color: #fff;
  //   display: inline-flex;
  //   width: 130px;
  //   align-items: center;
  //   justify-content: center;
  //   border: 0;
  //   font-weight: 600;
  //   i {
  //     margin-left: 15px;
  //   }
  // }
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 15px;
  }
}

.bar_box {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
  border-radius: 25px;
  margin-bottom: 15px;
  .bar {
    height: 12px;
    background-color: #4caf50;
    border-radius: 25px;
  }
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // margin-bottom: 20px;
  div {
    width: 72px;
    height: 72px;
    background: #ebf0fc;
    border-radius: 8px;
    font-weight: 600;
    font-size: 26px;
    color: #176ede;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &.score {
      background: #f8e8e7;
      color: #bc271a;
    }
    span {
      font-size: 20px;
      margin-top: 4px;
    }
  }
  p {
    font-size: 14px;
    color: #484848;
    margin: 0;
  }
}

.input_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  input {
    border: 2px solid #176ede;
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    font-size: 26px;
    color: #484848;
    &.value {
      background: #176ede;
      box-shadow: 0px 2px 5px rgba(23, 110, 222, 0.3);
      color: #ffffff;
    }
  }
  span {
    font-weight: 600;
    font-size: 18px;
    color: #484848;
  }
}

.calculator {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px -10px;
  button {
    margin: 10px;
    width: calc(33.333% - 20px);
    height: 69px;
    background: #ffa300;
    box-shadow: 0px 2px 5px rgba(255, 163, 0, 0.3);
    border-radius: 8px;
    font-weight: 600;
    font-size: 28px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    transition: .3s;
    &:hover {
      background: #176ede;
      box-shadow: 0px 2px 5px rgba(23, 110, 222, 0.3);
      color: #ffffff;
    }
  }
}

.ac_button {
  background: #bc271a;
  box-shadow: 0px 2px 5px rgba(188, 39, 26, 0.3);
  border-radius: 8px;
  width: 100%;
  height: 69px;
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
}

// OLD DESIGN
// .calculator {
//   border: 1px solid #ccc;
//   border-radius: 5px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 350px;
// }

// .calculator-screen {
//   width: 100%;
//   font-size: 5rem;
//   height: 80px;
//   border: none;
//   background-color: #252525;
//   color: #fff;
//   text-align: right;
//   padding-right: 20px;
//   padding-left: 10px;
// }

// button {
//   height: 60px;
//   background-color: #fff;
//   border-radius: 3px;
//   border: 1px solid #c4c4c4;
//   background-color: transparent;
//   font-size: 2rem;
//   color: #333;
//   background-image: linear-gradient(
//     to bottom,
//     transparent,
//     transparent 50%,
//     rgba(0, 0, 0, 0.04)
//   );
//   box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05),
//     inset 0 1px 0 0 rgba(255, 255, 255, 0.45),
//     inset 0 -1px 0 0 rgba(255, 255, 255, 0.15),
//     0 1px 0 0 rgba(255, 255, 255, 0.15);
//   text-shadow: 0 1px rgba(255, 255, 255, 0.4);
// }

// button:hover {
//   background-color: #eaeaea;
// }

// .operator {
//   color: #337cac;
// }

// .all-clear {
//   background-color: #f0595f;
//   border-color: #b0353a;
//   color: #fff;
// }

// .all-clear:hover {
//   background-color: #f17377;
// }

// .equal-sign:hover {
//   background-color: #4e9ed4;
// }

// .calculator-keys {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 20px;
//   padding: 20px;
// }
// .full {
//   width: 90%;
//   margin: 5%;
// }
// .equation {
//   display: grid;
//   grid-template-columns: repeat(7, 1fr);
//   margin: 1%;
// }
// input {
//   text-align: center;
//   line-height: 50px;
//   font-size: 2rem;
//   border: solid 1px #ccc;
//   box-shadow: 0 0 5px #ccc inset;
//   outline: none;
//   transition: all 0.2s ease-in-out;
//   border-radius: 3px;

//   &:focus {
//     border-color: purple;
//     box-shadow: 0 0 5px purple inset;
//   }

//   &::selection {
//     background: transparent;
//   }
// }
// .operator {
//   font-size: 3.5rem;
//   text-align: center;
//   margin-top: 5px;
// }
// .equation-box {
//   margin: 2%;
// }
// .bh {
//   font-size: 1.8rem;
// }

// .first {
//   margin-top: 20px;
//   height: 10px;
//   width: 100%;
//   background: #ddd;
//   border-radius: 25px;
// }
// .second {
//   height: 10px;
//   border-radius: 25px;
//   background: #4a4a4a;
// }

// a {
//   -webkit-transition: 0.25s all;
//   transition: 0.25s all;
// }
// .card {
//   padding-left: auto;
//   padding-right: auto;
//   min-height: 500px;
//   margin-top: 15px;
//   box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//   -webkit-transition: 0.25s box-shadow;
//   transition: 0.25s box-shadow;
// }
// .card:focus,
// .card:hover {
//   box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
// }
// .card-inverse .card-img-overlay {
//   background-color: rgba(51, 51, 51, 0.85);
//   border-color: rgba(51, 51, 51, 0.85);
// }
// .card-img-top {
//   margin-top: 10px;
// }
// .col-xs-12 {
//   text-align: center;
//   margin-left: auto;
//   margin-right: auto;
// }
// .row {
//   margin-left: auto;
//   margin-right: auto;
// }
