<!-- <section>
  <div >
    <div class="bg_box">
      <div class="d-flex">
        <div class="row">
        <div style="width:50%;">
        <h1>Number Race</h1>
        <p class="cptn">
          Collect the dropping numbers whose sum is equals to the number in the top right
        </p>
        <div class="move">
          <div>
            <i class="fa fa-long-arrow-left"></i>
            <span>To <strong>“Move Left”</strong></span>
          </div>
          <div>
            <i class="fa fa-long-arrow-right"></i>
            <span>To <strong>“Move Right”</strong></span>
          </div>
        </div>
      </div>
      <div style="width:50%;">
        <h1>Digit Challenge</h1>
        <p class="cptn">
          Solve the equation to Score a point
        </p>
      </div>
      <div style="width: 100%;">
        <div>
          <button (click)="onSubmit()">
            Start <i class="fa fa-long-arrow-right"></i>
          </button>
        </div>
      </div>
      </div>
    </div>
      </div> 
    </div>
</section> -->

<div class="row">
  <div>
     <number-racer-game *ngIf="game1=='Number racer'" ></number-racer-game>
    <calc-game *ngIf="game1=='Digit Game'"></calc-game>
     <switch-game *ngIf="game1=='Switch Game'"></switch-game>
    <link-swipe *ngIf="game1=='Link Swipe'"></link-swipe>
    <memory-cards *ngIf="game1=='Memory cards'"></memory-cards>
    <accuracy-game *ngIf="game1=='Accuracy Game'"></accuracy-game>
    <statement-shapes *ngIf="game1=='Statement-Shapes'"></statement-shapes>
    <balloon-game *ngIf="game1=='Balloon Pump'"></balloon-game> 
  </div>
  <div>
    <number-racer-game *ngIf="game2=='Number racer'" ></number-racer-game>
    <calc-game *ngIf="game2=='Digit Game'"></calc-game>
     <switch-game *ngIf="game2=='Switch Game'"></switch-game>
    <link-swipe *ngIf="game2=='Link Swipe'"></link-swipe>
    <memory-cards *ngIf="game2=='Memory cards'"></memory-cards>
    <accuracy-game *ngIf="game2=='Accuracy Game'"></accuracy-game>
    <statement-shapes *ngIf="game2=='Statement-Shapes'"></statement-shapes>
    <balloon-game *ngIf="game2=='Balloon Pump'"></balloon-game> 
    </div>
</div>